<div class="favorites">
  <h3><span class="glyphicon glyphicon-heart"></span> Favorite Questions Selection!</h3>
  {{#each favoriteQuestion.inquiries as |inquiry|}}
  <li>{{inquiry.title}}</li>
  {{/each}}
</div>
