.question {
  padding-left: auto;
}

.phone {
  text-decoration: underline;
  color: blue;
}

.center {
  text-align: center;
  color: black;
  font-size: 15pt;
  height: 280px;
}

.jumbotron {
  color: #008040;
  background-color:#c2d6d6;
  padding: 10px;
  margin-top: -10%;
}

.main-heading {
  font-size: 8px;
}

body {
  padding-top: 100px;
  background-image: url("http://www.bipnational.net/Portals/_default/Skins/skintryem/backgrounds/Gray/11_image.jpg");
  background-size: 100% 100%;
  font-size: 8pt;
}

.navbar {
  text-align: center;
  font-family: fantasy;
  color: #898C8C;
}

#displayQuestion {
  height: 200px;
  width: 90%;
  margin-bottom: 50px;
  margin-top: 20px;
}

.heading {
  text-decoration: underline;
  color: #008040;
}

li {
 font-size:16px;
}

.btn {
 border-radius: 0;
}

.well {
  height: 100%;
}

.btn-new {
  height: 70px;
  font-weight: 400;
  font-size: 1.25em;
}

.btn-new:hover {
  background-color: #423490;
}

.btn-favorite {
  height: 70px;
  width:  135px;
  font-weight: 500;
  font-size: 1.25em;
}
