<div class = "container">
  <header>
    <div class="center jumbotron">
      <h1 class="main-heading">Welcome To The Q&A Message Board</h1><br>
    </div>
  </header>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      {{#link-to 'index'}}<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span>Home</a>{{/link-to}}
      {{#link-to 'contact'}}<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-pencil"></span> Contact</a>{{/link-to}}
    </div>
  </nav>
  <div class = "row">
    <div class = "col-sm-12">
      {{outlet}}
      <footer>

      </footer>
    </div>
  </div>
</div>
