<h2>Welcome to our contact page</h2>
  <div class="well">
    <img src="http://www.artistmanagement-online.com/images/messageboard.gif" height = "100" width = "auto">
    <h4 class="contact-content">Contact our friendly staff members for questions!</h4>
    <h4 class="phone">Phone: 503-555-1234</h4>
  </div>
