<ul>
  <h3>Questions:</h3>
  {{#each model.questions as |question|}}
    {{question-tile question=question deleteQuestion="deleteQuestion"}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}




<!-- 1. fill hmtl page with component that i want
2. go into the terminal to actually create the component
3. fill up your component info for html and source
4. then try running in the server

errors:
look if I am saving everything with the same name conventions
and where it goes for the routes
everything for the asnwer shuld be going to question route

1. new answer
saveAnswer()
4.button in the question page -->
