<div class="question">
  <h3>Post A Question Here!</h3>
    {{#each model.questions as |question|}}
      {{question-tile question=question deleteQuestion="deleteQuestion"}}
    {{/each}}
</div>
{{new-question saveQuestion="saveQuestion"}}
<div id="displayQuestion" class="container">
  {{display-question}}
</div>
