<h1>Welcome to the question page</h1>

{{new-answer question=model saveAnswer="saveAnswer"}}

<hr />

{{#each model.answers as |answer|}}
<textarea>{{answer.text}} by {{answer.author}}</textarea>
  {{new-answer saveAnswer="saveAnswer" question=model}}
{{/each}}
